.hambutton {
	--button-color: white;
	--animation-duration: 600ms;

	display: flex;
	background: transparent;
	border: none;

	cursor: pointer;
}

.line {
	/* This is what turns the whole svg into something that looks like an "=" */
	stroke-dasharray: 40 31.5 40 1000;
	transform-origin: center;

	transition: stroke-dashoffset var(--animation-duration) ease-in-out,
		stroke-dasharray var(--animation-duration) ease-in-out,
		transform var(--animation-duration) ease-in-out;
}

.hambutton[aria-expanded="true"] .line {
	/* These combined will make the svg look like an "x" in the center of the button*/
	stroke-dasharray: 40 218 40 1000;
	stroke-dashoffset: -71.5;
	transform: rotate(45deg) translateY(-10%);
}

@media screen and (min-width: 1024px) {
	/* Match the min-width with media query of navBar */
	.hambutton {
		display: none;
	}
}
