/* Main Navigation Bar */
.navBar {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1;
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	gap: 3rem;
	top: 1rem;
	left: 1rem;
	right: 1rem;
	max-width: 1500px;
	position: fixed;

	/* styling */
	border-radius: 16px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.9) 100%);
	color: white;

	height: 3.8rem;
	transition: height 300ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
	overflow: hidden;
	z-index: 1000;
}

.navBar[data-expanded="true"] {
	height: 16.5rem;
}

/* Good evening etc Section */
.logo {
	height: 100%;
}

.logo h1 {
	line-height: 2;
	font-size: 1rem;
	white-space: nowrap;
}

/* navItems hold the hamburger + all links */
.navItems {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1rem;
}

/* This holds only the links and lets talk */
.navLinks {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 2rem;
}

/* Lets Talk Module */
.letsTalkModule {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0.5rem solid #f4a914;
	overflow: hidden;
	display: flex;
	align-items: center;
	width: 60vw;

	border-radius: 2rem;
	box-sizing: content-box;
}

.letsTalkModule[open] {
	animation: slide-in-from-top 500ms cubic-bezier(0.3, 1.8, 0.3, 0.7);
}

.letsTalkModule::backdrop {
	background-color: rgba(0, 0, 0, 0.9);
}

.letsTalkCloseButton {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem;
}

@keyframes slide-in-from-top {
	0% {
		top: 30%;
		opacity: 0;
	}
	100% {
		top: 50%;
		opacity: 1;
	}
}

@media screen and (max-width: 750px) {
	.letsTalkModule {
		border: 0.4rem solid #f4a914;
	}
}

@media screen and (max-width: 1030px) {
	/* The modal looked too small in screen smalled than 900px */
	.letsTalkModule {
		width: 90vw;
	}
}

/* Lets Talk Module end*/

@media screen and (min-width: 1024px) {
	.navBar {
		height: 4rem;
	}

	.navBar[data-expanded="true"] {
		/* Debugging and error where, resizing from data-expanded true and phone size to laptop size */
		height: 4rem;
	}
	.navItems {
		max-width: 40rem;
	}
	.navLinks {
		flex-direction: row;
		align-items: center;

		width: 100%;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1535px) {
	.navBar {
		margin-left: auto;
		margin-right: auto;
	}
}
