.carouselContainer {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.expandButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  margin: 1rem;
  padding: 0.4rem;
  z-index: 2;

  background: #f4a914;
  border: none;
  border-radius: 0.4rem;

  transform-origin: top right;
  transition: transform 100ms ease-in-out;
}

.expandButton:hover,
.expandButton:focus-visible,
.expandButton:active {
  background-color: #f4ce14;
  transform: scale(1.1);
  cursor: pointer;
}

.expandButton img {
  color: white;
  object-fit: cover;
  width: 100%;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #f4a914;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1030px) {
  /* The modal looked too small in screen smalled than 900px */
  .modal {
    width: 90vw;
  }
}

.modal[open] {
  animation: slide-in-from-top 500ms cubic-bezier(0.3, 1.8, 0.3, 0.7);
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

.modalCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

@keyframes slide-in-from-top {
  0% {
    top: 30%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
